* {
    margin: 20;
    padding: 0;
}

body {
    background: #2C5364;
    width: 1420px;
}

nav img {
    float: left;
    top: 0;
    margin: 5px;
    margin-left: -100px;
}

.bg-img {
    height: 800px;
    width: 1490px;
    border: 5px solid black;
    background-image: url(/photo.webp);
    top: 30%;
}

nav h2 {
    color: #bbbbbb;
    font-size: 35px;
    text-align: left;
    margin: 40px;
    margin-left: 5px;
}

nav {
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-left: 10%;
    font-size: 30px;
}

nav ul {
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: -80px;
}

nav li {
    text-align: center;
    display: inline-block;
    padding: 60px;
}

nav a {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Aladin', cursive;
}

nav h2 {
    margin-top: 50px;
}

nav a:hover {
    color: #f5af19;
}

nav a:active {
    color: #f59;
}

.about {
    background-color: rgb(22, 22, 22);
    height: 700px;
    width: 1485px;
    margin: 3px;
    padding: 5px;
}

.left-txt {
    width: 50%;
    background-color: #bbbbbb;
    font-size: 25px;
    font-style: oblique;
    height: 520px;
    padding: 30px;
    margin: 25px;
    text-align: center;
}

.right-img {
    float: right;
    margin: 5px;
    padding: 30px;
}

.img-collage {
    width: 100%;
    padding: 30px;
    margin: 30px;
    margin-top: 0;
    justify-content: space-between;
}

.box {
    justify-content: space-between;
}

.txt {
    color: white;
    font-size: 30px;
    text-align: center;
    background: transparent;
    border: 2px solid white;
    height: 750px;
    margin: 100px;
}

button {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

.bg-img1 {
    background-image: url(/photo.webp);
    height: 900px;
    width: 1490px;
    color: white;
    filter: blur(2px);
    border: 2px solid white;
}

#form {
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 50px;
    margin: 30px;
}

input[type=text],
[type=number],
[type=email] {
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    border: none;
}

input[type=submit] {
    font-size: 30px;
}